.input {
    font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #fff;
background: #2F2F2F;
border-radius: 8px;
border: none;
width: 396px;
height: 46px;
margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .input {
        width: 260px;
    }
  }
