.page-with-login__link {
    font-size: 14px;
line-height: 17px;
color: #4285F4;
background: none;
border: none;
padding: 0;
transition: opacity 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .page-with-login__link {
        font-size: 12px;
line-height: 15px;
    }
  }
