.logo {
    background-image: url(../../images/logo.svg);
    background-size: cover;
    width: 38px;
    height: 38px;
    transition: opacity 1s ease;
    margin-right: 44px;
  }
  
  .logo:hover {
    opacity: .5;
  }