.about-project {
  padding: 110px 70px 110px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 90px 50px 90px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 70px 18px 70px;
  }
}
