.search-form__button {
    width: 80px;
height: 34px;
    background: #4285F4;
    background-image: url("../../../images/search.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: none;
border-radius: 48px;
transition: opacity 1s ease;
    cursor: pointer;
}