.header__button_signin {
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header__button_signin {
    width: 54px;
    height: 26px;
  }
}
